@model WebWeatherApp.Models.Weather

@{
    ViewData["Title"] = "Today's Weather";
}

<div class="sidenav">
    <div class="sidenavLinks">
        <div class="locationForm">
            <form asp-action="GetWeather" method="post">
                <label class="form-label mt-4">Current Location</label>
                <div class="form-floating mb-3">
                    <!-- The placeholder is dynamically set based on @Model.Location -->
                    <input type="text" class="form-control" name="location" required id="location" placeholder="@Model.Location">
                    <label for="location">@Model.Location</label>
                </div>
            </form>
        </div>
        <a href="#" class="btn btn-primary">Tomorrow</a>
        <a href="#" class="btn btn-primary">Week</a>
        <a href="#" class="btn btn-primary">Celcius</a>
    </div>
</div>

<div class="rightSidenav">
    <div class="scrollableTableContainer">
        <table class="hourlyBox">
            <tbody>

                @foreach (var hour in Model.HourlyWeather)
                {
                    <tr>
                        <td>
                            <div class="listHourly">
                                <div class="hourlyIcon">
                                    <img src="https:@hour.ConditionIcon" alt="hourly icon" />
                                </div>
                                <div class="hourlyContent">
                                    <p class="hourlyTitle">@hour.FormattedTime @hour.Temperature</p>
                                    <p class="hourlySubtitle"> @hour.ConditionText</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
@*                 <tr>
                    <td>
                        <div class="listHourly">
                            <div class="hourlyIcon">
                                <img src="https:@Model.Icon" alt="hourly icon" />
                            </div>
                            <div class="hourlyContent">
                                <p class="title">Time</p>
                                <p class="hourlySubtitle">Temp</p>
                            </div>
                        </div>
                    </td>
                </tr> *@
        </table>
    </div>   
</div>

<table class="WeatherBox">
    <tbody>
        <tr>
            <td style="border-top-left-radius:15px; border-top-right-radius:15px">
                <div class="mainWeather">
                    <div class="shadow">
                        <div class="content">
                            <h1>@Model.Temperature<img src="https:@Model.Icon" class="mainIcon" /></h1>
                            <h5 style="color:white">Today's weather: @Model.Condition </h5>
                            <h5 style="color:white">@Model.Location</h5>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="list-item" style="margin-top:10px !important;">
                    <div class="icon"><img src="~/media/compassIcon.png" alt="Compass Icon" /></div>

                    <div class="content">
                        <p class="title">Wind Direction</p>
                        <p class="subtitle">@Model.WindDirection</p>
                    </div>

                    <div class="icon"><img src="~/media/humidityIcon.png" alt="Humidity Icon" /></div>

                    <div class="content">
                        <p class="title">Humidity</p>
                        <p class="subtitle">@Model.Humidity</p>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="list-item">
                    <div class="icon"><img src="~/media/windspeedIcon.png" alt="Wind Speed Icon" /></div>
                    <div class="content">
                        <p class="title">Wind Speed</p>
                        <p class="subtitle">@Model.WindSpeed</p>
                    </div>
                    <div class="icon"><img src="~/media/visibilityIcon.png" alt="Humidity Icon" /></div>
                    <div class="content">
                        <p class="title">Visibility</p>
                        <p class="subtitle">@Model.Visibility</p>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td style="border-bottom-left-radius:15px; border-bottom-right-radius: 15px">
                <div class="list-item"> 
                    <div class="icon"><img src="~/media/air-quality.png" alt="Wind Icon" /></div>
                    <div class="content">
                        <p class="title">Blank</p>
                        <p class="subtitle">Need to fill</p>
                    </div>
                    <div class="icon"><img src="~/media/humidityIcon.png" alt="Humidity Icon" /></div>
                    <div class="content">
                        <p class="title">Air Quality</p>
                        <p class="subtitle">Air Quality Formula</p>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>